<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="ontology-metamodel"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontology -->
      <package
            uri="http://www.example.org/ontology"
            class="ca.umontreal.geodes.ontology.OntologyPackage"
            genModel="src/main/resources/model/questionnaire.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated suggestion -->
      <package
            uri="http://www.example.org/suggestion"
            class="ca.umontreal.geodes.suggestion.SuggestionPackage"
            genModel="src/main/resources/model/questionnaire.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated questionnaire -->
      <package
            uri="http://www.example.org/questionnaire"
            class="org.eclipse.sirius.questionnaire.QuestionnairePackage"
            genModel="src/main/resources/model/questionnaire.genmodel"/>
   </extension>

</plugin>
