<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="suggestion-metamodel-edit"
      version="1.0.0"
      provider-name="%providerName"
      class="ca.umontreal.geodes.suggestion.provider.SuggestionEditPlugin$Implementation">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="suggestion-metamodel" export="true"/>
      <import plugin="org.eclipse.emf.edit" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated suggestion -->
      <factory
            uri="http://www.example.org/suggestion"
            class="ca.umontreal.geodes.suggestion.provider.SuggestionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated questionnaire -->
      <factory
            uri="http://www.example.org/questionnaire"
            class="org.eclipse.sirius.questionnaire.provider.QuestionnaireItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
